$marginOut: 0px 0px 0px;
$mainFont: Arial, Helvetica, sans-serif;
$mainSiteColor: cadetblue;
$secondSiteColor: white;
$tableBorderCaracteristics: 5px solid $mainSiteColor;
%linkMainDesign{
    text-decoration: none;
    
}


#titleHeader{
    height: 50px;
    background-color: $mainSiteColor;
    
}
#titleHeader{
    h1{
        text-align: center;
        font-family: $mainFont;
        padding-top: 1px;
        color: $secondSiteColor;
    }

}
#pagesMenu{
    .parallelogram {
       
        width: 60%;
        height: 10%;
        transform: skew(20deg);
        background: transparent;
      
        margin-left: 20%;
        margin-right: 20%;
    }
    a, a:hover{
        @extend %linkMainDesign;
        text-transform: capitalize;
        
    }
    table{
        border-top: $tableBorderCaracteristics;
        border-right: $tableBorderCaracteristics;
        border-left: $tableBorderCaracteristics;
        border-bottom: $tableBorderCaracteristics;
        width: 100%;
        border-collapse: separate;
       
      

    }
    
    .notChosed{
        background-color: $secondSiteColor;
        color: $mainSiteColor;
    }
    .chosed{
        color: $secondSiteColor;
        background-color: $mainSiteColor;
    }

    th{
        border: 1px solid $mainSiteColor;
        margin: $marginOut;
        padding: 7px;
        text-align: center;
        size: 20px;
    }
    th:hover{
        @extend %linkMainDesign;
        background-color: gray;
        a{
            @extend %linkMainDesign;
            background-color: gray;
            color: $secondSiteColor;
        }
            

            
            
        }
    }
        
    
    

body, h1{
    margin: $marginOut;
}
